@model ISPF.Models.EmpleadoModelo
@{
    ViewBag.Title = "empleado";
}

<h2>Empleados</h2>

<h2>Gestion de Empleados</h2>
<a class="btn btn-primary" href="@Url.Action("insertar","Empleado")">Nuevo</a>
<table class="table">
    <thead>
        <tr>
            <th class="col">DPI</th>
            <th class="col">Nombre&oacute;n</th>
            <th class="col">Apellido</th>
            <th class="col">Genero</th>
            <th class="col">Nit</th>
            <th class="col">Puesto</th>
            <th class="col">Agregar Datos</th>
            <th class="col">Agregar Beneficiario</th>
            <th class="col">Detallar</th>
            <th class="col">Modificar</th>
            <th class="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var list in ViewBag.data)
        {
        <tr>
            <td>@list.dpi</td>
            <td>@list.nombre</td>
            <td>@list.apellido</td>
            <td>@list.genero</td>
            <td>@list.nit</td>
            <td>@list.puesto</td>
            <td><a href="@Url.Action("insertarProf",new {cod=list.dpi})" class="glyphicon glyphicon-edit">Agregar Datos</a></td>
            <td><a href="@Url.Action("insertarBene",new {cod=list.dpi})" class="glyphicon glyphicon-edit">Agregar Beneficiario</a></td>
            <td><a href="@Url.Action("buscarEmple",new {cod=list.dpi})" class="glyphicon glyphicon-edit">Detallar</a></td>
            <td><a href="@Url.Action("modificar",new {cod=list.dpi})" class="glyphicon glyphicon-edit">Modificar</a></td>
            <td><a href="@Url.Action("eliminar",new { cod=list.dpi})" class="glyphicon glyphicon-trash">Eliminar</a></td>
        </tr>
        }
    </tbody>
</table>